:root {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    --black: #000000;
    --white: #ffffff;

}

#content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    font-size: 1.3rem;
}

#file-input {
    align-self: flex-start;
    display: none;
}

.buttonadd {
    position: relative;
    width: 150px;
    height: 40px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.buttonadd,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.buttonadd .button__text {
    transform: translateX(15px);
    color: var(--font-color);
    font-weight: 600;
}

.buttonadd .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonadd .svg {
    width: 20px;
    fill: var(--main-color);
}

.buttonadd:hover {
    background: var(--bg-color);
}

.buttonadd:hover .button__text {
    color: transparent;
}

.buttonadd:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.buttonadd:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}



button {
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}

input[type="range"] {
    width: 100%;
    margin-top: 10px;
    
    /*appearance: none;*/
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#playlist {
    margin-top: 20px;
    overflow-y: auto;
    height: 250px;    
    width: 100%;
}

#playlist::-webkit-scrollbar {
    width: 10px;
}

#playlist::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
}

li {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 5px;
    padding-right: 10px;       
    cursor: pointer;
    align-items: center;
    
    
}

li p{
    grid-column: 1;
    padding: 0px;
    margin: 0px;   
    
}

li.active {
    background-color: #d3d3d3;
}


.remove {
    grid-column: 2;
    margin: 0px;    
    font-size: 12px;
    width: 100px;
    height: 30px;
    padding: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #eb5e5e;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    justify-self: end;
}

.remove,
.remove span {
    transition: 200ms;
}

.remove .removespan {
    transform: translateX(0px);
    color: white;
    font-weight: bold;
}

.remove .removeicon {
    position: relative;
    border-left: 3px solid #ee4141;
    transform: translateX(10px);
    background: #ee4141;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border-radius: 0 10px 10px 0;
}

.remove svg {
    width: 10px;
    fill: #eee;
}

.remove:hover {
    background-color: #ee4141;
}

.remove:hover .removespan {
    color: transparent;
    
}

.remove:hover .removeicon {
    width: 100px;
    border-left: none;
    transform: translateX(-23px);
}

.remove:focus {
    outline: none;
}

.remove:active .removeicon svg {
    transform: scale(0.8);
}

.seek-bar-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

#current-time {
    grid-column: 1;

}

#seek-bar {
    grid-column: 2;
    width: 100%;
}

#duration {
    grid-column: 3;

}

#visual1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    max-height: 400px;

}

#canvas1 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

}

#visual2 {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 100px;
    max-height: 400px;
}

#canvas2 {
    display: flex;
    flex-direction: column;
    padding: auto;
    border-radius: 10px;
    width: 380px;
    height: 380px;
    position: relative;
    z-index: 1;

}

#visual3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    max-height: 400px;

}

#canvas3 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

}