:root {

    --test: #1a2a4d;

}


@media (max-width: 450px) {
    #sethead {}

    #playersec H1 {
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        line-height: 3rem;
        padding: 10px;
        width: 75%;
    }

}