@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");



:root {
    --speed: 0.85;
    --primary: #fff;
    --size: 30;
    --ease: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
    background: #fafafa;
    font-family: 'Alata', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

nav {
    z-index: 99;
}

.preloaderback {
    position: fixed;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;

}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#preloader {
    width: 175px;
    height: 175px;
    background-color: #ABC4AA;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 0 0 #675D50;
    z-index: 99;
}

#preloader .plate {
    width: fit-content;
}

#preloader .plate .black,
#preloader .plate .white,
#preloader .plate .center,
#preloader .plate .border {
    border-radius: 100%;
}

#preloader,
#preloader .plate .black,
#preloader .plate .white,
#preloader .plate .border {
    display: flex;
    align-items: center;
    justify-content: center;
}

#preloader .plate .black {
    width: 150px;
    height: 150px;
    background-color: #675D50;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#preloader .plate .white {
    width: 70px;
    height: 70px;
    background-color: #F3DEBA;
}

#preloader .plate .center {
    width: 20px;
    height: 20px;
    background-color: #675D50;
}

#preloader .plate .border {
    width: 111px;
    height: 111px;
    border-top: 3px solid #F3DEBA;
    border-bottom: 3px solid #F3DEBA;
    border-left: 3px solid #675D50;
    border-right: 3px solid #675D50;
}

#preloader .p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 8px;
    margin-right: 8px;
    rotate: -45deg;
}

#preloader .p .circ {
    width: 25px;
    height: 25px;
    background-color: #F3DEBA;
    border-radius: 100%;
    z-index: 1;
}

#preloader .p .rect {
    width: 10px;
    height: 55px;
    background-color: #F3DEBA;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

main {

    scroll-behavior: smooth;
    width: auto;
}

section {
    align-items: center;
    display: flex;
    font-size: 3rem;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: center;
    width: auto;
}

.menu {
    position: fixed;
}

.menu__toggle {
    opacity: 0;
    position: absolute;
}

.menu__toggle:checked~.menu__content .menu__item {
    --active-x: var(--x);
    --active-y: var(--y);
    --scale: 1;
}

.menu__toggle:checked~.menu__toggle-label:not(.menu__toggle-label--closer) {
    --clip: circle(1000% at 0% 0%);
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: backdrop-filter calc(var(--speed, 1) * 1s) var(--ease), clip-path 0s, -webkit-clip-path 0s;


}

.menu__toggle:checked~.menu__toggle-label .menu__icon:nth-of-type(1) {
    --scale: 0;
}

.menu__toggle:checked~.menu__toggle-label .menu__icon:nth-of-type(2) {
    --scale: 1;
}

.menu__toggle-label {
    cursor: pointer;
    height: calc(var(--size, 20) * 0.5vmin);
    width: calc(var(--size, 20) * 0.5vmin);
    display: block;
    --clip: circle(100% at 0% 0%);
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    position: absolute;
    top: 0;
    left: 0;
    transition: backdrop-filter calc(var(--speed, 1) * 1s) var(--ease), clip-path 0s, -webkit-clip-path 0s;
}

.menu__toggle-label--closer {
    z-index: 3;
    --scale: 0;

}

.menu__icon {
    --scale: 1;
    height: calc(var(--size, 20) * 0.25vmin);
    width: calc(var(--size, 20) * 0.25vmin);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -70%) scale(var(--scale, 1));
    fill: var(--primary);
    transition: all calc(var(--speed, 1) * 1s) var(--ease);
}

.menu__icon:nth-of-type(2) {
    --scale: 0;
}

.menu__content {
    background: hsl(var(--hue, 0), 50%, 50%);
    margin: 0;
    display: block;
    list-style-type: none;
    z-index: -1;
    filter: url("#goo");
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    left: 0;
    z-index: 2;



}

.menu__content:after {
    background: hsl(var(--hue, 0), 50%, 50%);
    content: '';
    border-radius: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: calc(var(--size, 20) * 1vmin);
    width: calc(var(--size, 20) * 1vmin);
    top: 0;
    left: 0;

}

.menu__item {
    background: hsl(var(--hue, 0), 50%, 50%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    height: calc(var(--size, 20) * 1vmin);
    left: calc(var(--active-x, 0) * 1vw);
    overflow: hidden;
    place-items: center;
    position: absolute;
    text-align: center;
    top: calc(var(--active-y, 0) * 1vh);
    transform: translate(-50%, -50%) scale(var(--scale, 0.75));
    transition: all calc(var(--speed, 1) * 1s) calc(var(--delay, 0) * 1s) var(--ease);
    width: calc(var(--size, 20) * 1vmin);
}

@media (min-width: 768px) {
    .menu__item {
        font-size: 2rem;
    }
}

.menu__item:nth-of-type(1) {
    --delay: 0.1;
    --x: 35;
    --y: 35;
}

.menu__item:nth-of-type(2) {
    --delay: 0.2;
    --x: 65;
    --y: 35;
}

.menu__item:nth-of-type(3) {
    --delay: 0.3;
    --x: 35;
    --y: 65;
}

.menu__item:nth-of-type(4) {
    --delay: 0.4;
    --x: 65;
    --y: 65;
}

.menu__link {
    align-items: center;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.menu__link:hover {
    text-decoration: underline;
}

#playersec {
    display: block;
    background: #f5abc9;
    color: grey;
    min-height: 100vh;
    height: auto;
}

#playersec h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    padding: 5px;
    margin: 0;
}

.section-center {
    width: 90vw;
    height: 80%;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 10px;
}

.play {
    margin-bottom: 2rem;
}

.checkb {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(205, 191, 247);
    overflow: hidden;
    position: relative;
}

.cbox {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
}

.cbox:disabled+.c-icon {
    opacity: 0.3;
}

.c-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    overflow: hidden;
    position: relative;
}

.c-icon::before {
    content: "";
    display: flex;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    transition: all 0.2s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(32, 33, 36);
}

.cbox:checked+.c-icon:before {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}

.c-icon svg {
    z-index: 2;
    color: rgb(32, 33, 36);
    height: 30px;
    width: 30px;
}

.cbox:checked+.c-icon svg {
    color: rgb(255, 255, 255);
}

.controlbtn {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

#play-pause {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;


}

#play-pause svg {
    height: 40px;
    width: 40px;

}

.details-volume {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    gap: 5px;

}

#albumArt {
    grid-column: 1;
    
    width: 100px;
    height: 100px;
    border-radius: 10px;
    
}

.volume-contain {
    
    grid-column: 2;
}

.marquee {

    width: 380px;  
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

}

.volumemute {   
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    
}
.volumemute .checkb{
    grid-column: 1;
    height: 50px;
    width: 50px;
}
#volume {
    grid-column: 2;
    
}
#vpresentage{
    grid-column: 3;
    
}

#songName {    
    width: max-content;
    color: blue;
    display: inline-block;
    margin: 0px;
    padding: 0px;

    animation: marquee 10s linear infinite;

}

@keyframes marquee {
    0% {
        transform: translateX(380px);
    }

    100% {
        transform: translateX(-100%);
    }
}

.tabs {
    display: grid;
    background: #ffe5e2;
    border-radius: 0.8rem;
    grid-template-rows: 1fr 8fr
}

.tbtn-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    border-radius: 0.8rem;
    background-color: #f5abc9;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;



}

.tbutton:nth-child(1) {
    border-top-left-radius: 0.8rem;
}

.tbutton:nth-child(3) {
    border-top-right-radius: 0.8rem;
}

.tbutton {
    padding: 1rem 0;
    border: none;
    width: auto;
    font-size: 1rem;
    letter-spacing: 2px;
    background: #b6c9f0;
    border-radius: 0.8rem;
    border: #000000 2px solid;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    margin: 0;
}

.tbutton:hover:not(.live) {
    background: #e93b81;
    color: white;
    border-radius: 0.8rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.tabs-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    font-size: 1rem;
    height: auto;
    border-radius: 0.8rem;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: #000000 2px solid;
    border-top: none;
    align-items: center;
    justify-content: center;

}

/* hide content */
.tcontent {
    display: none;


}

.tbutton.live {
    background: #ffe5e2;
    border: #000000 2px solid;
    border-bottom: none;
    border-radius: 0.8rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.tcontent.live {
    display: flex;
}

@media (min-width: 992px) {
    .play {
        margin-bottom: 0;
    }

    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}